!!! 5
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/styles.css"}

  %body
  %div.subject
    %p
      = %Q{#{locals[:subject]}}
  .login-area
    %a.login-link{:href => '/blog'}Back
    
  %hr   
  %div.content
    :preserve
      #{locals[:content]}
      
  .age
    %p
      Queried #{@age} seconds ago
